ALTER TABLE catering_briefs ADD COLUMN IF NOT EXISTS proposal_cents integer, ADD COLUMN IF NOT EXISTS deposit_cents integer, ADD COLUMN IF NOT EXISTS proposal_notes text; ALTER TABLE planner_requests ADD COLUMN IF NOT EXISTS proposal_cents integer, ADD COLUMN IF NOT EXISTS deposit_cents integer, ADD COLUMN IF NOT EXISTS proposal_notes text;
